!!!
%html{lang: "en-GB"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: "viewport"}/
    %title jQuery Credit Card Validator — Pawel Decowski
    %link{href: "http://jquerycreditcardvalidator.com/", rel: "canonical"}/
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag  'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield